 <div class="container" ng-init="init()">
	<form name="clientForm" class="form-group" ng-submit="submit()" novalidate>
		<div ng-show="isLoad">
			<div class="form-group" ng-class="{ 'has-error' : clientForm.fullName.$invalid && !clientForm.fullName.$pristine }">
				<label for="fullName">Полное имя</label>
				<input type="text" class="form-control" placeholder="Иванов Иван Иванович" name="fullName"
					   formControlName="fullName" ng-model="client.FullName" required>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : clientForm.passportId.$invalid && !clientForm.passportId.$pristine }">
				<label for="passportId">Номер паспорта</label>
				<input type="text" class="form-control" placeholder="00№00000000" name="passportId"
					   formControlName="passportId" ng-model="client.PassportId" ng-pattern="/^(\d{2}№\d{8})$/" required>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : clientForm.mail.$invalid && !clientForm.mail.$pristine }">
				<label for="mail">Email</label>
				<input type="email" class="form-control" placeholder="example@mail.ru" name="mail"
					   formControlName="mail" ng-model="client.Mail" required>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : clientForm.phoneNumber.$invalid && !clientForm.phoneNumber.$pristine }">
				<label for="phoneNumber">Номер телефона</label>
				<input type="text" class="form-control" placeholder="0 000 000000" name="phoneNumber"
					   formControlName="phoneNumber" ng-model="client.PhoneNumber" ng-pattern="/^(\d{1} \d{3} \d{6})$/" required>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : clientForm.typeClient.$invalid && !clientForm.typeClient.$pristine }">
				<label for="typeClient">Тип клиента</label>
				<select type="text" class="form-control" placeholder="Выбрать" name="typeClient"
						ng-options="o.value for o in clientTypes"
						formControlName="typeClient" ng-model="selectedClientType" required></select>
			</div>

			<div class="btn-group">
				<button type="submit" class="btn btn-primary" ng-disabled="clientForm.$invalid">
					save
				</button>
				<button type="button" class="btn btn-primary" ng-click="moveToHome()">
					back
				</button>
			</div>
		</div>
	</form>
</div>