<div class="container" ng-init="init()">
	<form name="incidentForm" class="form-group" ng-submit="submit()" novalidate>
		<div class="form-group" ng-class="{ 'has-error' : incidentForm.theme.$invalid && !incidentForm.theme.$pristine }">
			<label for="theme">Тема</label>
			<input type="text" class="form-control" name="theme" 
				   formControlName="theme" ng-model="incident.Theme" required>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : incidentForm.text.$invalid && !incidentForm.text.$pristine }">
			<label for="text">Содержание</label>
			<textarea class="form-control" name="text" 
					  formControlName="text" ng-model="incident.Text" required></textarea>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : incidentForm.date.$invalid && !incidentForm.date.$pristine }">
			<label for="date">Дата</label>
			<input type="date" class="form-control" name="date" 
				   formControlName="date" ng-model="incident.Date" required>
		</div>
		<div class="btn-group">
			<button type="submit" class="btn btn-primary" ng-disabled="incidentForm.$invalid">
				save
			</button>
			<button type="button" class="btn btn-primary" ng-click="moveToParent()">
				back
			</button>
		</div>
	</form>
</div>